#Liste des erreurs courantes.
# ErrorDocument 404 /error/error_404.html

Options +FollowSymlinks
RewriteEngine On

#Accueil
RewriteRule ^$ index.php?ctrl=Super&action=home [L]
# Question
RewriteRule ^creer-sondage.html$ index.php?ctrl=Question&action=createQuestion [L]
RewriteRule ^administration.html$ index.php?ctrl=Question&action=listQuestions [L]
RewriteRule ^administration/page-([0-9]+)\.html$ index.php?ctrl=question&action=listQuestions&page=$1 [L]
RewriteRule ^administration/([a-zA-Z0-9]*)\/page-([0-9]+)\.html$ index.php?ctrl=question&action=listQuestionsByIdUser&id=$1&page=$2 [L]
RewriteRule ^administration-questions-pseudo/([a-zA-Z0-9\-]*)\/page-([0-9]+)\.html$ index.php?ctrl=Question&action=listQuestionsByPseudoUser&sPseudo=$1&page=$2 [L]
RewriteRule ^administration-questions-libel/([a-zA-Z0-9\-]*)\/page-([0-9]+)\.html$ index.php?ctrl=Question&action=listQuestionsByLibel&sLibel=$1&page=$2 [L]
RewriteRule ^administration-questions-date/([0-9\-]+)\/([0-9\-]+)\/page-([0-9]+)\.html$ index.php?ctrl=Question&action=listQuestionsByDate&dDateAfter=$1&dDateBefore=$2&page=$3 [L]
RewriteRule ^administration-questions-date/([0-9\-]+)\/page-([0-9]+)\.html$ index.php?ctrl=Question&action=listQuestionsByDate&dDateAfter=$1&page=$2 [L]
RewriteRule ^administration-questions-date/([0-9\-]+)\/page-([0-9]+)\.html$ index.php?ctrl=Question&action=listQuestionsByDate&dDateBefore=$1&page=$2 [L]
RewriteRule ^desactivate-question.html$ index.php?ctrl=question&action=desactivateQuestion [L]
# Zone
RewriteRule ^administration-zones.html$ index.php?ctrl=subdivision&action=listSubdivisions [L]
RewriteRule ^administration-zones/page-([0-9]+)\.html$ index.php?ctrl=subdivision&action=listSubdivisions&page=$1 [L]
RewriteRule ^desactivate-zone.html$ index.php?ctrl=Subdivision&action=desactivateSubdivision [L]
RewriteRule ^activate-zone.html$ index.php?ctrl=Subdivision&action=activateSubdivision [L]
#User
RewriteRule ^administration-users.html$ index.php?ctrl=user&action=listUsers [L]
RewriteRule ^administration-users/page-([0-9]+)\.html$ index.php?ctrl=user&action=listUsers&page=$1 [L]
RewriteRule ^login.html$ index.php?ctrl=User&action=loginUser [L]
RewriteRule ^inscription.html$ index.php?ctrl=User&action=createUser [L]
RewriteRule ^mot-de-passe-oublie.html$ index.php?ctrl=user&action=forgottenPassword [L]
RewriteRule ^mot-de-passe-oublie/(.*)\/([a-zA-Z0-9\-]*)$ index.php?ctrl=user&action=generateNewPassword&id=$1&token=$2 [L]
RewriteRule ^confirmer-compte/(.*)\/([a-zA-Z0-9\-]*)$ index.php?ctrl=user&action=confirmUser&id=$1&token=$2 [L]
RewriteRule ^desactivate-user.html$ index.php?ctrl=User&action=desactivateUser [L]

# Lien vers un sondage
RewriteRule ^([a-zA-Z0-9]*)$ index.php?ctrl=Question&action=showQuestion&iIdQuestion=$1 [L]
RewriteRule ^([a-zA-Z0-9]*)\.json$ index.php?ctrl=Question&action=getQuestionFull&iIdQuestion=$1 [L]
