#Liste des erreurs courantes.
ErrorDocument 404 /RSurvey/index.php?ctrl=Super&action=error

Options +FollowSymlinks
RewriteEngine On

#Accueil
RewriteRule ^$ index.php?ctrl=Super&action=home [L]
# Question
RewriteRule ^creer-sondage.html$ index.php?ctrl=Question&action=createQuestion [L]
RewriteRule ^administration.html$ index.php?ctrl=Question&action=listQuestions [L]
RewriteRule ^administration/page-([0-9]+)\.html$ index.php?ctrl=Question&action=listQuestions&page=$1 [L]
RewriteRule ^administration/([a-zA-Z0-9]*)\/page-([0-9]+)\.html$ index.php?ctrl=Question&action=listQuestionsByIdUser&id=$1&page=$2 [L]
RewriteRule ^administration-filtre.html$ index.php?ctrl=Question&action=listQuestionsFilter [L]
RewriteRule ^administration-filtre/pseudo:([a-zA-Z0-9\-]*)\/libel:([a-zA-Z0-9\-]*)\/dateAfter:([0-9\-]*)\/dateBefore:([0-9\-]*)\/page-([0-9]*)\.html$ index.php?ctrl=Question&action=listQuestionsFilter&sPseudo=$1&sLibel=$2&dDateAfter=$3&dDateBefore=$4&page=$5 [L]
RewriteRule ^desactivate-question.html$ index.php?ctrl=Question&action=desactivateQuestion [L]
RewriteRule ^answer-question.html$ index.php?ctrl=Reponse&action=answerQuestion [L]
RewriteRule ^change-question.html$ index.php?ctrl=Question&action=getNextPreviousQuestion [L]
RewriteRule ^close-question.html$ index.php?ctrl=Question&action=closeQuestion [L]
RewriteRule ^update-question.html$ index.php?ctrl=Question&action=updateQuestion [L]

# Zone
RewriteRule ^administration-zones.html$ index.php?ctrl=Subdivision&action=listSubdivisions [L]
RewriteRule ^administration-zones/page-([0-9]+)\.html$ index.php?ctrl=Subdivision&action=listSubdivisions&page=$1 [L]
RewriteRule ^desactivate-zone.html$ index.php?ctrl=Subdivision&action=desactivateSubdivision [L]
RewriteRule ^activate-zone.html$ index.php?ctrl=Subdivision&action=activateSubdivision [L]
#User
RewriteRule ^administration-users.html$ index.php?ctrl=User&action=listUsers [L]
RewriteRule ^administration-users/page-([0-9]+)\.html$ index.php?ctrl=User&action=listUsers&page=$1 [L]
RewriteRule ^login.html$ index.php?ctrl=User&action=loginUser [L]
RewriteRule ^disconnect.html$ index.php?ctrl=Super&action=disconnectUser [L]
RewriteRule ^inscription.html$ index.php?ctrl=User&action=createUser [L]
RewriteRule ^mot-de-passe-oublie.html$ index.php?ctrl=User&action=forgottenPassword [L]
RewriteRule ^mot-de-passe-oublie/([a-zA-Z0-9]*)\/([a-zA-Z0-9\-]*)$ index.php?ctrl=User&action=generateNewPassword&id=$1&token=$2 [L]
RewriteRule ^confirmer-compte/([a-zA-Z0-9]*)\/([a-zA-Z0-9\-]*)$ index.php?ctrl=User&action=confirmUser&id=$1&token=$2 [L]
RewriteRule ^desactivate-user.html$ index.php?ctrl=User&action=desactivateUser [L]
RewriteRule ^update-user.html$ index.php?ctrl=User&action=updateUser [L]

# Lien vers un sondage
RewriteRule ^([a-zA-Z0-9]*)$ index.php?ctrl=Question&action=showQuestion&iIdQuestion=$1 [L]
RewriteRule ^([a-zA-Z0-9]*)\.json$ index.php?ctrl=Question&action=getQuestionFull&iIdQuestion=$1 [L]
