/*COMMON */

.imgLogo {
  max-height: 40px;
  margin-right: 8px;
}

.mdl-layout-title {
  font-size: 22px;
  margin-top: 2px;
}
.mdl-layout__drawer-button {
  background-color:white !important;
  color:#757575 !important;
}

.mdl-grid {
  background-color: #F3F3F3;
}

@media(min-width:1025px) {
  .mdl-layout__drawer-button {display:none;}
  .mdl-layout__header-row {padding-left:24px;}
}

a.shareButton {
    margin-right: 24px;
}

p.shareButtonsContainer {
    margin-top: 24px;
}

ul.dc_pagination {
    text-align: center;
    margin: auto;
    margin-bottom:16px;

}

ul.dc_pagination li {
    list-style-type: none;
    display:inline;
    margin-left:12px
}

.mdl-navigation__link {
    padding: 0px 16px !important;
}
